services:
  mlflow:
    image: intelligent-drift-monitoring-mlops:latest
    container_name: mlflow-ui
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    command: >
      mlflow ui
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///mlflow.db
      --serve-artifacts

  training:
    image: intelligent-drift-monitoring-mlops:latest
    container_name: drift-training
    depends_on:
      - mlflow
    volumes:
      - .:/app
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    command: python -m src.pipeline.training_pipeline

  monitoring:
    image: intelligent-drift-monitoring-mlops:latest
    container_name: drift-monitoring
    depends_on:
      - mlflow
    volumes:
      - .:/app
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    command: python -m src.pipeline.monitoring_pipeline
